/* Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Unbounded font */
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  animation: fadeIn 300ms ease;
}

:root {
  /* Color variables */
  --primary-color: black;
  --background-color: white;

  /* Font variables */
  --main-font: 'Inter', sans-serif;
  --heading-font: 'Unbounded', sans-serif;

  /* Padding variables */
  --padding-small: 0.5rem;
  --padding-medium: 1rem;
  --padding-large: 1.5rem;

  /* Buttons */
  --btn-padding: 0.5rem 1rem;
  --btn-border-radius: 15px;

  /* Inputs */
  --input-padding: 0.5rem 1rem;
  --input-border-radius: 15px;

  /* Board component */
  --board-size: 100%;

  /* Cell component */
  --cell-size: 9vmin;
  --cell-border-radius: 3px;

  /* Ships placement component */
  --shipsContainer-width: 40vmin;
  --shipsContainer-height: 60vmin;
  --shipsContainer-bdr-radius: 15px;
  --ships-container-bg-clr: white;
  --ship-container-bg-clr: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: white;
    --background-color: #1c1c1c;
    --ships-container-bg-clr: black;
  }
}

/* STYLES FOR DEFAULT ELEMENTS */

body {
  font-family: var(--main-font);
  color: var(--primary-color);
  background-color: var(--background-color);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

h1 {
  font-family: var(--heading-font);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  padding: var(--btn-padding);
  border-radius: var(--btn-border-radius);
  cursor: pointer;
  text-align: center;
  border: none;
  transition: transform 300ms ease;
}

button:disabled {
  cursor: not-allowed;
}

button:hover {
  transform: scale(1.1);
}

input {
  padding: var(--input-padding);
  border-radius: var(--input-border-radius);
  border: none;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  outline: none;
}

input[type='submit'] {
  cursor: pointer;
  box-shadow: none;
  transition: transform 300ms ease;
}

input[type='submit']:hover {
  transform: scale(1.1);
}

[draggable='true'] {
  cursor: grab;
}

[draggable='true']:active {
  cursor: grabbing;
}

/* HEADER COMPONENT */
.header {
  text-align: center;
}

.subTitle {
  padding: var(--padding-small);
}

/* BOARD COMPONENT */
.board {
  display: grid;
  grid-template-columns: repeat(10, var(--cell-size));
  grid-template-rows: repeat(10, var(--cell-size));
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 2px;
}

.board .cell {
  color: var(--primary-color);
  background-color: var(--background-color);
  border: 1px solid #000;
  width: var(--cell-size);
  height: var(--cell-size);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--cell-border-radius);
}

.cell.attacked {
  box-shadow: rgb(43, 255, 0) 0px 30px 60px -12px inset,
    rgb(94, 255, 0) 0px 18px 36px -18px inset;
}

.cell.ship.attacked {
  box-shadow: rgba(255, 0, 34, 1) 0px 30px 60px -12px inset,
    rgba(253, 0, 0, 1) 0px 18px 36px -18px inset;
}

/* ARENA COMPONENT */
.arena {
  text-align: center;
}

/* FOOTER */
.footer {
  text-align: center;
  margin: 0 auto 2em auto;
  padding: var(--padding-large);
}

.instructions > div {
  text-align: left;
}

.gitHubLink {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  gap: 1rem;
  color: var(--primary-color);
}

.gitHubImage {
  height: 50px;
}

/* START SCREEN */
.startScreen {
  text-align: center;
  padding: var(--padding-large);
}

.startScreen > form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}

/* END SCREEN */
.endScreen {
  text-align: center;
  padding: var(--padding-large);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

/* SHIPS PLACING SCREEN */
.shipsPlacingScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}

.shipsPlacingScreen .heading {
  margin: 0;
}

.shipsPlacingScreen .board,
.shipsPlacingScreen .board .cell {
  cursor: none;
}

.shipsPlacingScreen .board .cell:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.shipsPlacingScreen .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.shipsPlacingScreen .continue:valid {
  color: white;
  background-color: rgb(43, 255, 0);
}

.shipsPlacingScreen .reset:valid {
  color: white;
  background-color: rgba(255, 0, 34, 1);
}

.shipsPlacingScreen .random:valid {
  color: white;
  background-color: rgb(253, 237, 17);
}

.shipsPlacingScreen .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5em;
}

.shipsContainer {
  padding: var(--padding-large);
  height: var(--shipsContainer-height);
  width: var(--shipsContainer-width);
  border-radius: var(--shipsContainer-bdr-radius);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: var(--ships-container-bg-clr);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  gap: 0.5rem;
}

.shipContainer {
  padding: var(--padding-small);
  border: 1px solid #000;
  width: max-content;
  height: max-content;
  border-radius: var(--shipsContainer-bdr-radius);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transform-origin: center;
  transition: transform 300ms ease-in-out;
  background-color: var(--ship-container-bg-clr);
}

.shipContainer.vertical {
  transform: rotate(90deg);
}

/* todo: fix animation */
/* ! problem: Animation doesn't allow ships to be rotated */

/* .shipsContainer [draggable='true']:first-of-type {
  animation: shake 300ms ease-in-out infinite;
} */

.shipsContainer [draggable='true']:active {
  background-color: rgb(43, 255, 0);
}

.shipContainer:not([draggable]) {
  cursor: not-allowed;
}

.shipsPlacingScreen .cell.highlight {
  background-color: rgb(43, 255, 0);
}

/* TABLET & DESKTOP DISPLAYS */

@media only screen and (min-width: 768px) {
  :root {
    --heading-font-size: 4rem;

    /* Cell variables */
    --cell-size: 6vmin;
    --cell-border-radius: 3px;
  }

  /* HEADER COMPONENT */
  .header .title {
    font-size: var(--heading-font-size);
    margin-bottom: 0.25em;
  }

  /* BOARD COMPONENT */

  /* .board.friendly {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
      rgba(46, 153, 78, 0.5) 0px 50px 100px -20px,
      rgba(72, 165, 95, 0.3) 0px 30px 60px -30px;
    background-color: rgba(72, 165, 95, 0.3);
  }

  .board.enemy {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
      rgba(156, 45, 54, 0.5) 0px 50px 100px -20px,
      rgba(202, 114, 114, 0.3) 0px 30px 60px -30px;
    background-color: rgba(202, 114, 114, 0.3);
  } */

  .board.enemy .cell:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
  }

  .board.friendly .cell {
    cursor: not-allowed;
  }

  /* ARENA COMPONENT */
  .arena {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  /* FOOTER COMPONENT */
  .instructions {
    display: flex;
    padding: var(--padding-large);
    line-height: 1.25;
  }

  .instructions > div {
    flex: 1;
    padding: var(--padding-large);
  }

  /* START SCREEN */
}

/* KEYFRAMES */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
}
