/* Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Unbounded font */
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  animation: fadeIn 300ms ease;
}

:root {
  /* Color variables */
  --primary-color: black;
  --background-color: white;

  /* Font variables */
  --main-font: 'Inter', sans-serif;
  --heading-font: 'Unbounded', sans-serif;

  /* Padding variables */
  --padding-small: 0.5rem;
  --padding-medium: 1rem;
  --padding-large: 1.5rem;

  /* Board variables */
  --board-size: 100%;

  /* Cell variables */
  --cell-size: 9vmin;
  --cell-border-radius: 3px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: white;
    --background-color: #1c1c1c;
  }
}

/* STYLES FOR DEFAULT ELEMENTS */

body {
  font-family: var(--main-font);
  color: var(--primary-color);
  background-color: var(--background-color);
  padding: var(--padding-small);
  min-height: 100vh;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

h1 {
  font-family: var(--heading-font);
}

/* GUIDE COMPONENT */
.guide {
  text-align: center;
}

/* BOARD COMPONENT */
.board {
  display: grid;
  grid-template-columns: repeat(10, var(--cell-size));
  grid-template-rows: repeat(10, var(--cell-size));
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 2px;
}

.board .cell {
  color: var(--primary-color);
  background-color: var(--background-color);
  border: 1px solid #000;
  width: var(--cell-size);
  height: var(--cell-size);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--cell-border-radius);
}

@media only screen and (min-width: 768px) {
  /* tablet & laptop screens */
  :root {
    --heading-font-size: 4rem;
  }

  .guide .title {
    font-size: var(--heading-font-size);
  }

  .board .cell:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
  }
}

/* KEYFRAMES */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
